Makefile
configure~
config.h
libtool
stamp-h1
src/.deps
src/.libs
tests/.deps
tests/.libs
tests/check_error
tests/check_error.log
tests/check_error.trs
tests/check_vector
tests/check_vector.log
tests/check_vector.trs
tests/test-suite.log
*.o
*.lo
*.la
.cache/
autom4te.cache
