*.la
*.lo
*.o
.cache/
Makefile
Makefile.in
aclocal.m4
autom4te.cache
badml-*.tar.gz
compile_commands.json
config.h
config.h.in
config.log
config.status
configure
configure~
libtool
src/.deps
src/.libs
src/Makefile.in
stamp-h1
tests/.deps
tests/.libs
tests/Makefile.in
tests/check_error
tests/check_error.log
tests/check_error.trs
tests/check_vector
tests/check_vector.log
tests/check_vector.trs
tests/test-suite.log
