*.lo
*.o
.cache/
.la
Makefile
Makefile.in
aclocal.m4
aminclude_static.am
autom4te.cache
badml-*-coverage.info
badml-*-coverage/
badml-*.tar.gz
compile_commands.json
config.h
config.h.in
config.h.in~
config.log
config.status
configure
configure~
libtool
src/**/*.gcda
src/**/*.gcno
src/.deps
src/.dirstamp
src/.libs
src/Makefile.in
stamp-h1
tests/*.gcda
tests/*.gcno
tests/.deps
tests/.libs
tests/Makefile.in
tests/check_error
tests/check_error.log
tests/check_error.trs
tests/check_vector
tests/check_vector.log
tests/check_vector.trs
tests/test-suite*.log
tests/vgcore.*
src/libbadml.la
autoscan.log
configure.scan
src/vector/.deps
src/vector/.dirstamp
